a {
  text-decoration: none;
  color: white;
  background: darkblue;
  display: inline-block;
}

p {
  background: lightblue;
}

.px {
  font-size: 24px;
  padding: 16px 32px;
}

.rem {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

/* Parte 2 */

div {
  font-size: 150%;
}

.px2 {
  font-size: 32px;
}

.em {
  font-size: 2em;
}

.rem2 {
  font-size: 2rem;
}
