body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
  
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
p{
  font-size: 20px;
}

.imagem {
  max-width: 100%;
  display: inline-block;
}

.sobre {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.sobre a {
  color: black;
  background-image: linear-gradient(to right, #d9d7d7, #f2f1f0, #bfbcba);
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

.conteudo {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  position: relative;
  max-width: 1000px;
}
.introducao {
  position: relative;
  background: #ffffff;
  align-content: center;
  display: grid;
  gap: 20px;
  line-height: 1.3;
  text-align: right;
  padding: 40px;
  justify-items: end;
}
.detalhe {
  position: absolute;
  height: 4px;
  width: 60px;
  background: #e21;
  display: flex;
  justify-self: end;
  top: 30px;
  right: -30px;
}
.botao {
  background: #e21;
  color: #e7e7e7;
  padding: 15px 30px;
  border-radius: 4px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.subtitulo {
  font-size: 64px;
  text-transform: uppercase;
  color: #c6c6c6;
  text-align: right;
  padding:40px;
  align-self: center;
}

.vantagens{
  background: #ffffff;
  display: grid;
  
}

.vantagens-item{
display: grid;
grid-template-columns: auto 1fr;
padding: 30px;
gap:10px;

}

.vantagens-item p{
  grid-column: 2;
}

.rodape{
background: #ffffff;
width: 100%;
box-sizing: border-box;
text-align: center;
padding: 40px;

}