/* Formatação geral Do Body */
/* 
Só nesse movimento aqui, você centralizou o conteúdo todo da página, e ja deixou o logo e o .sobre praticamente prontos, a partir daqui é só estilizar o .sobre e praticamente está feito a parte de cima da página
*/
body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

/* AQUI TIRAMOS OS SUBLINHADOS DOS LINKS */
a {
  text-decoration: none;
}

/*RESET NA MARGEM DE LEVE*/
p,
h1,
h2,
h3 {
  margin: 0;
}

/*DEFININDO PARÁGRAFOS DE 20PX E UMA ALTURA (ESPAÇAMENTO) DE LINHA DE 1.3*/
p {
  font-size: 20px;
  line-height: 1.3;
}
.imagem {
  width: 100%;
  display: block;
}
.sobre {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.sobre a {
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
}
.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  position: relative;
}
.introducao {
  background: #ffffff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  gap: 20px;
  justify-items: end;
}
.detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}
.botao {
  background: #e21;
  color: #fff;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}
.subtitulo {
  color: #c6c6c6;
  font-size: 64px;
  text-transform: uppercase;
  text-align: right;
  padding: 40px;
  align-self: center;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.vantagens {
  background: #fff;
  padding: 40px;
}
.vantagens-item {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
}
.vantagens-item p {
  grid-column: 2;
}
.rodape {
  background: #fff;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 40px;
}
