body {
  margin: 0;
}

section {
  /* width: 100%; */
  width: 200px;
  background: tomato;
}

div {
  /* height: 40px; */
  /* height: 200px; */
  background: lightblue;
  height: 100vh;
  width: 100vw;
}
