.bicicleta {
  height: 600px;
  background-image: url("img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; /* centro eixo x / topo eixo y */
  display: flex;
  /* 
- BACKGROUND é uma propriedade que serve de atalho e sobrepõe todos os outros "backgrounds".
- ORDEM: color, url, repeat, posicionamento e cover.
*/
  /* background-size: contain;
  -faz com que a imagem permaneça do tamanho do container.  
  */
  /* background: #eee url(img/bicicleta.jpg) no-repeat cover center top; */
}

h1 {
  margin: auto;
  background: #eee;
  padding: 1rem 2rem;
}

.pattern {
  height: 300px;
  background-color: lightcoral;
  background-image: url("img/pattern.svg");
  background-repeat: repeat;
  /* background-size: 100px;*/
}

/*  
GRADIENTE
=========
A função linear-gradient gera um gradiente linear na propriedade background-image.

- Direção
90deg, 45deg, to left, to right
- Cores
#000 0%, blue 50%, #fff 100%. Cor e local de início.
*/
